! /etc/keepalived/keepalived.conf
! {{ ansible_managed }}

global_defs {
   router_id {{ keepalived_id }}
}

vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface eth0
    virtual_router_id {{ keepalived_vrouteid }}
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_pass }}
    }
    virtual_ipaddress {
        {{ rpi_loadbal_float_ip }}
    }
}
