#!/bin/bash

cd /opt/cluster/mysrc/ || exit 1;

download_file="bash-5.0.tar.gz"

wget -- ftp://ftp.gnu.org/pub/gnu/bash/$download_file;

filehash=$(sha512sum $download_file | cut -d' ' -f1)

if [ "$filehash" = "bb4519f06e278f271d08722b531e49d2e842cc3e0b02a6b3eee422e2efcb5b6226111af43f5e5eae56beb85ac8bfebcd6a4aacbabb8f609e529aa4d571890864" ] ; then
  echo "sha512 sum is OK";
else
  echi "BAD sha512 sum";
  exit 1;
fi

file $download_file | grep "gzip compressed data" || exit 1;

tar xf $download_file || exit 1;

cd bash-5.0 || exit 1;

./configure

distcc --show-hosts

distcc-pump make -j2 CC="distcc gcc -std=gnu99"
