# {{ ansible_managed }}
# ansible role: {{role_path|basename}}

STARTDISTCC="true"

ALLOWEDNETS="{{ rpi_net_id }}/{{ rpi_net_maskbit }}"

LISTENER="0.0.0.0"

NICE="10"

# one job per cpu core
JOBS="4"

ZEROCONF="true"
