// {{ ansible_managed }}
// type: {{ rpi_dnsd_status }}
// role: {{role_path|basename}}
// file: /etc/bind/named.conf.local

// Custom TLD

{% if 'master' in rpi_dnsd_status %}
zone "{{ rpi_cust_tld }}" {
        type master;
        file "/etc/bind/zones/{{ rpi_dnsd_status }}/{{ rpi_cust_tld }}.db";
        masterfile-format text;
        allow-update { key "rndckey"; };
        allow-transfer { trusted; };
        allow-query { rpinet; };
        notify yes;
        also-notify { {{ hostvars['alpha']['rpi_ip'] }}; {{ hostvars['beta']['rpi_ip'] }}; };
};
{% endif %}

{% if 'secondary' in rpi_dnsd_status %}
zone "{{ rpi_cust_tld }}" {
        type slave;
        masters { {{ hostvars['alpha']['rpi_ip'] }}; };
        masterfile-format map;
        file "/etc/bind/zones/{{ rpi_dnsd_status }}/{{ rpi_cust_tld }}.db";
        allow-transfer { trusted; };
        allow-query { rpinet; };
};
{% endif %}


// Reverse DNS
zone "{{ rpi_domain_arpa }}.in-addr.arpa" {
  {% if 'master' in rpi_dnsd_status %}
  type master;
  {% endif %}
  {% if 'secondary' in rpi_dnsd_status %}
  type slave;
  {% endif %}

  {% if rpi_dnsd_masters is defined %}
    masters { {{ hostvars['alpha']['rpi_ip'] }}; };
  {% endif %}

    notify {{ rpi_dnsd_notify }};
    file "/etc/bind/zones/{{ rpi_dnsd_status }}/reverse-{{ rpi_dnsd_status }}.db";
    allow-transfer { {{ rpi_failover_ip }}; };
    allow-query { rpinet; };
};
