# {{ ansible_managed }}
# setup by role: {{role_path|basename}}
#
# static arp entries for Deployer R-Pi
# default gw
{{ rpi_net_default_gw }} {{ rpi_net_default_gw_mac }}
#
{% for host in groups['all'] %}
{% if host != inventory_hostname %}
{{ hostvars[host]['rpi_ip'] }} {{ hostvars[host]['rpi_mac'] }}
{% endif %}
{% endfor %}
