#!/bin/bash
# {{ ansible_managed }}

mkdir -pv /mnt/ramstore/data/

# create a 2MB tmpfs
if [ ! -f /mnt/ramstore/data/test.txt ]; then

  mount -t tmpfs -o size=2m tmpfs /mnt/ramstore;

  touch -f /mnt/ramstore/data/test.txt

  # these files exist in Volatile memory!
  mkdir -p /mnt/ramstore/data;
  chmod 770 /mnt/ramstore/data;
  chown pi:pi /mnt/ramstore/data;
fi
