#!/bin/bash
# {{ ansible_managed }}
# UFW setup script for psi

logger -t rpicluster "ufw.sh started";

apt-get install -y ufw;

ufw status verbose || exit 1

echo 1 > /proc/sys/net/ipv4/tcp_syncookies
echo 1 > /proc/sys/net/ipv4/icmp_echo_ignore_broadcasts

# defaults
ufw default deny incoming || exit 1
ufw default allow outgoing

# log
ufw logging on

# incoming SSH from outside LAN
ufw allow 22/tcp
ufw allow {{ ssh_group_port }}/tcp

# enable FW
ufw --force enable || exit 1
sleep 1s;
ufw status

touch -fv /root/.ufw

logger -t rpicluster "ufw enabled";

# eof
