#!/bin/sh -e
#
# Raspberry Pi Cluster rc.local
# {{ ansible_managed }}
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#

rpilogit () {
	echo -e "rpicluster: $1 \n";
	logger -t rpicluster "$1";
}

# create a temp file
rclocal_temp=$(mktemp -d)

# Print the IP address
_IP=$(hostname -I) || true
if [ "$_IP" ]; then
  printf "My IP address is %s\n" "$_IP"
fi

# set static arp entry to default gateway
arp -s {{ rpi_net_default_gw }} {{ rpi_net_default_gw_mac }}


touch -f ${rclocal_temp}/boot.txt
echo "OK" > ${rclocal_temp}/boot.txt

rpilogit "/etc/rc.local ran";
exit 0
