--------------------------------------------------------------------------------
                .......:: Raspberry Pi Cluster ::.......
--------------------------------------------------------------------------------

Host:       {{ ansible_hostname }}
MAC:        {{ ansible_eth0.macaddress }}
Addresses:  {{ ansible_all_ipv4_addresses }}

Groups:     {{ group_names }}

connection: {{ ansible_connection }}
{% if ansible_env.SSH_CLIENT is defined %}
SSH client: {{ ansible_env.SSH_CLIENT }}
{% endif %}
{% if ansible_env.SSH_CONNECTION is defined %}
SSH Con:    {{ ansible_env.SSH_CONNECTION }}
{% endif %}
PWD env:    {{ ansible_env.PWD }}
User ID:    {{ ansible_user_id }}

Arch:       {{ ansible_architecture }}
Bios:       {{ ansible_bios_version }}
Distro:     {{ ansible_distribution }}
Release:    {{ ansible_distribution_release }}
Version:    {{ ansible_distribution_version }}
Kernel:     {{ ansible_kernel }}
Python V:   {{ ansible_python_version }}

Devices:    {{ ansible_device_links.ids }}

--------------------------------------------------------------------------------
role: {{role_path|basename}}
play: {{ ansible_play_name }}
--------------------------------------------------------------------------------
