--------------------------------------------------------------------------------
                .......:: Raspberry Pi Cluster ::.......
--------------------------------------------------------------------------------

Host:       {{ ansible_hostname }}
MAC:        {{ ansible_eth0.macaddress }}
Addresses:  {{ ansible_all_ipv4_addresses }}

connection: {{ ansible_connection }}
SSH client: {{ ansible_env.SSH_CLIENT }}
SSH Con:    {{ ansible_env.SSH_CONNECTION }}
PWD env:    {{ ansible_env.PWD }}
User ID:    {{ ansible_user_id }}

Arch:       {{ ansible_architecture }}
Bios:       {{ ansible_bios_version }}
Distro:     {{ ansible_distribution }}
Release:    {{ ansible_distribution_release }}
Version:    {{ ansible_distribution_version }}
Kernel:     {{ ansible_kernel }}
Python V:   {{ ansible_python_version }}

Devices:    {{ ansible_device_links.ids }}

--------------------------------------------------------------------------------
Created by role: {{role_path|basename}}
--------------------------------------------------------------------------------
