#!/bin/bash
# https://github.com/kelseyhightower/confd

script_name=$(readlink -f ${BASH_SOURCE[0]})
script_pidnum=$BASHPID
myoutput="rpicluster: started $script_name with pid $script_pidnum"
echo -e $myoutput
logger $myoutput

export GOPATH=/usr/local/go/
export PATH=$PATH:/usr/local/go/bin/

sudo mkdir -p $GOPATH/src/github.com/kelseyhightower
sudo chown -R pi:pi $GOPATH/src/github.com/

git clone https://github.com/kelseyhightower/confd.git $GOPATH/src/github.com/kelseyhightower/confd

cd $GOPATH/src/github.com/kelseyhightower/confd/
pwd


# build and install if missing
if [ ! -f /usr/local/bin/confd ]; then

echo "This may take sometime..."
make build
sudo make install

fi
