# {{ ansible_managed }}
# /nginx/templates/sites-enabled/default.j2
server {
  listen {{ nginx_port }} default_server;

  server_name _;

  root /var/www/html;

  index index.html;

  location / {

  }

}
