# {{ ansible_managed }}
# modified: {{ ansible_date_time.time}} {{ ansible_date_time.date }}
# setup by role: {{role_path|basename}}
#
127.0.0.1 localhost
::1       localhost ip6-localhost ip6-loopback
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters
#
# ansible inventory hosts:
#
{% for host in groups['all'] %}
{{ hostvars[host]['rpi_ip'] }} {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}.local
{% endfor %}
