# {{ ansible_managed }}
# modified: {{ ansible_date_time.time}} {{ ansible_date_time.date }}
# setup by role: {{role_path|basename}}
#-------------------------------------------------------------------------------

# all
host *
	ServerAliveInterval 30
	Compression yes
	controlmaster auto

#host *.local
#	User pi

# hosts ------------------------------------------------------------------------
{% for host in groups['all'] %}

# mac: {{ hostvars[host]['rpi_mac'] }} - rack position: {{ hostvars[host]['rpi_racked'] }}
host {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}.local
  User pi
	StrictHostKeyChecking no
  HostName {{ hostvars[host]['rpi_ip'] }}
{% endfor %}

#-------------------------------------------------------------------------------
