# {{ ansible_managed }}
# setup by role: {{role_path|basename}}
#-------------------------------------------------------------------------------

# all
host *
	ServerAliveInterval 30
	Compression yes
	controlmaster auto

# hosts ------------------------------------------------------------------------
{% for host in groups['all'] %}

# {{ hostvars[host]['inventory_hostname'] }} rack position: {{ hostvars[host]['rpi_racked'] }}
# mac: {{ hostvars[host]['rpi_mac'] }}
host {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}.local
	User pi
	HostName {{ hostvars[host]['rpi_ip'] }}
{% endfor %}

#-------------------------------------------------------------------------------
