<!doctype html>
<html>
<head>
  <title>R-Pi - {{ ansible_nodename }}</title>
  <!-- {{ ansible_managed }} -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body { text-align: center; padding: 20px; }
    h1 { font-size: 50px; }
    h2 { font-size: 30px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    ul { list-style-type: none; margin: 0; padding: 0; }
    li { display: inline; }
    a { color: #blue; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
  </style>
</head>
<body>
<article>
  <h1>R-Pi BB httpd</h1>
  <p>Running on: {{ ansible_nodename }}.</p>
  <hr>
  <div>
  <p><center>
    <ul>
      <li>[<a href="/cgi-bin/hello">info</a>]</li>
    </ul>
  </center></p>
  <p><center><img src="static/glinder1.png" height="220px" width="220px"></center></p>
  </div>
  <hr>
  <p>modified: <i>{{ ansible_date_time.time}} {{ ansible_date_time.date }}</i></p>
  <p>ssh connection: <i>{{ ansible_env.SSH_CONNECTION }}</i></p>
</article>
</body>
</html>
