// {{ ansible_managed }}
// node: {{ rpi_dnsd_status }}
// role: {{role_path|basename}}
// file: /etc/bind/named.conf.options

acl "trusted" {
	localhost;
	{{ hostvars['alpha']['rpi_ip'] }};
	{{ hostvars['beta']['rpi_ip'] }};
};

acl "rpinet" {
	localhost;
	{{ rpi_net_id }}/{{ rpi_net_maskbit }};
};

options {
	directory "/var/cache/bind";

	allow-recursion { rpinet; };
	allow-query { rpinet; };
	allow-query-cache { rpinet; };
	allow-transfer { trusted; };

	// Don't forward - use the root zone DNS servers.
	// forwarders { 9.9.9.9; };

	// dnssec
	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	# conform to RFC1035
	auth-nxdomain no;

	listen-on { 127.0.0.1; };
	listen-on { {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}; };
	listen-on-v6 { none; };

	version "dns";
};


logging {
	channel system_log {
		file "/var/log/named/sys.log" versions unlimited size 1g;
		severity warning;
		print-time yes;
		print-severity yes;
		print-category yes;
	};
	channel queries_log {
		file "/var/log/named/queries.log" versions unlimited size 1g;
		severity info;
		print-time no;
	};
	channel xfer_log {
		file "/var/log/named/xfer.log";
		print-category yes;
		print-severity yes;
		print-time yes;
		severity info;
	};
	category xfer-in {
		xfer_log;
	};
	category xfer-out {
		xfer_log;
	};
	category default {
		system_log;
	};
	category queries {
		queries_log;
	};
};

include "/etc/bind/consul.conf";
