[Unit]
Description=rpi-compute.service
Requires=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/root/bin/compute-boot.sh

[Install]
WantedBy=multi-user.target
