# {{ ansible_managed }}

# Omega host haproxy config

# Global and default -----------------------------------------------------------

global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon
  #
  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
  #
  # SSL c
  ssl-default-bind-options no-sslv3 no-tls-tickets force-tlsv12
  ssl-default-bind-ciphers AES128+EECDH:AES128+EDH


defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http


# Frontend ---------------------------------------------------------------------

frontend http-in
  #
  option httplog
  option forwardfor
  option http-server-close
  option httpclose
  #
  # listeners
  bind :::80
  # bind :::443 v4v6 ssl crt /etc/haproxy/ssl/ ciphers AES128+EECDH:AES128+EDH force-tlsv12 no-sslv3
  #
  mode http
  log global
  #
  # remove headers
  rspidel ^Server:.*$
  rspidel ^X-Powered-By:.*$
  #
  rspadd Strict-Transport-Security:\ max-age=31536000;\ includeSubdomains;\ preload
  rspadd X-Frame-Options:\ DENY
  #
  # Gzip compression between HAProxy and client
  compression algo gzip
  compression type text/html text/plain text/javascript application/javascript application/xml text/css
  #
  # capture client info
  capture request header Referrer len 64
  capture request header Content-Length len 10
  capture request header User-Agent len 64
  #
  # Block paths
  acl blocked_path path_beg /status_nginx
  block if blocked_path
  #
  # --- Backend ACL ---
  #
  # Admin node 1 bb-httpd
  acl url_admin_alpha path_beg /api/alpha/
  use_backend alpha if url_admin_alpha
  #
  # Admin node 2 bb-httpd
  acl url_admin_beta path_beg /api/beta/
  use_backend beta if url_admin_beta
  #
  # Omega api
  acl url_admin_omega path_beg /php/omega/
  use_backend omega if url_admin_omega
  #
  # ---/Backend ACL ---
  #
  # All other requests hit the default site
  default_backend default-backend


# Backends ----------------------------------------------------------------------

# /api/alpha/ - busybox httpd on alpha
backend alpha
  #
  mode http
  balance roundrobin
  option forwardfor
  #
  # add IP header
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-CLIENT-IP %[src]
  #
  # security headers
  http-response set-header X-XSS-Protection 1;mode=block
  http-response set-header Referrer-Policy strict-origin
  http-response set-header X-Content-Type-Options nosniff
  #
  reqrep ^([^\ :]*)\ /api/alpha/(.*)     \1\ /cgi-bin/\2
  #
  # backend servers
  server host {{ hostvars['alpha']['ansible_default_ipv4']['address'] }}:1080 maxconn 1000


# /api/beta/ - busybox httpd on beta
backend beta
  #
  mode http
  balance roundrobin
  option forwardfor
  #
  # add IP header
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-CLIENT-IP %[src]
  #
  # security headers
  http-response set-header X-XSS-Protection 1;mode=block
  http-response set-header Referrer-Policy strict-origin
  http-response set-header X-Content-Type-Options nosniff
  #
  reqrep ^([^\ :]*)\ /api/beta/(.*)     \1\ /cgi-bin/\2
  #
  # backend servers
  server host {{ hostvars['beta']['ansible_default_ipv4']['address'] }}:1080 maxconn 1000


# /php/omega/ - php on local nginx
backend omega
  #
  mode http
  balance roundrobin
  option forwardfor
  #
  # add IP header
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-CLIENT-IP %[src]
  #
  # security headers
  http-response set-header X-XSS-Protection 1;mode=block
  http-response set-header Referrer-Policy strict-origin
  http-response set-header X-Content-Type-Options nosniff
  #
  reqrep ^([^\ :]*)\ /php/omega/(.*)     \1\ /pub/\2
  #
  # backend servers
  server omega_nginx2 127.0.0.1:{{ nginx_port2 }} maxconn 1000


# all other requests - nginx on localhost
backend default-backend
  #
  mode http
  balance roundrobin
  option forwardfor
  #
  # add IP header
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-CLIENT-IP %[src]
  #
  # security headers
  http-response set-header X-XSS-Protection 1;mode=block
  http-response set-header Referrer-Policy strict-origin
  http-response set-header X-Content-Type-Options nosniff
  #
  # backend servers
  server omega_nginx1 127.0.0.1:{{ nginx_port }} maxconn 1000

# eof
