# {{ ansible_managed }}
# ansible role: {{role_path|basename}}

# default haproxy config

# Global and default -----------------------------------------------------------

global
  log /dev/log    local0
  log /dev/log    local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon


defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http


frontend http-in
  #
  option httplog
  option forwardfor
  option http-server-close
  option httpclose
  #
  # listeners
  bind :::80
  #
  mode http
  log global
  #
  # remove headers
  rspidel ^Server:.*$
  rspidel ^X-Powered-By:.*$
  #
  # rspadd Strict-Transport-Security:\ max-age=31536000;\ includeSubdomains;\ preload
  # rspadd X-Frame-Options:\ DENY
  #
  # Gzip compression between HAProxy and client
  compression algo gzip
  compression type text/html text/plain text/javascript application/javascript application/xml text/css
  #
  # capture client info
  capture request header Referrer len 64
  capture request header Content-Length len 10
  capture request header User-Agent len 64
  #


# eof
