# {{ ansible_managed }}
#
# As described in the distcc manpage, this file can be used for a global
# list of available distcc hosts.
#
# The list from this file will only be used, if neither the
# environment variable DISTCC_HOSTS, nor the file $HOME/.distcc/hosts
# contains a valid list of hosts.
#
# Add a list of hostnames in one line, seperated by spaces, here.
#
# -- Compute: --
#
{% for host in groups['compute'] %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }},cpp,lzo
{% endfor %}
