[Unit]
Description = omegapyapi
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /opt/omegapyapi/pyapi-service.pid
User = omegapyapi
Group = omegapyapi
WorkingDirectory = /opt/omegapyapi
ExecStart = /bin/bash /opt/omegapyapi/app/start.sh
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /opt/omegapyapi/pyapi-service.pid /opt/omegapyapi/omegapyapi.socket
PrivateTmp = true

[Install]
WantedBy = multi-user.target
