# {{ ansible_managed }}
# /etc/dhcp/dhcpd.conf for {{ rpi_dhcpd_status }} DHCP server
# ansible role: {{role_path|basename}}

authoritative;
ddns-update-style none;

failover peer "rpiclust-failover" {

  # declare server as {{ rpi_dhcpd_status }}
  {{ rpi_dhcpd_status }};
  address {{ rpi_ip }};
  port {{ rpi_dhcpd_port }};

  # my failover host is:
  peer address {{ rpi_failover_ip }};
  peer port {{ rpi_dhcpd_port_peer }};

  max-response-delay 30;
  max-unacked-updates 10;
  load balance max seconds 4;

{% if rpi_dhcpd_mclt is defined %}
  # mclt only set on primary
  {{ rpi_dhcpd_mclt }};
{% endif %}
{% if rpi_dhcpd_split is defined %}
  # split only set on primary
  {{ rpi_dhcpd_split }};
{% endif %}
}

# config common to both dhcp servers ###########################################

subnet {{ rpi_net_id }} netmask {{ rpi_net_snet }} {

  option subnet-mask {{ rpi_net_snet }};
  option broadcast-address {{ rpi_net_bcast }};
  option routers {{ rpi_net_default_gw }};
  option domain-name-servers {{ rpi_dhcp_dns1 }}, {{ rpi_dhcp_dns2 }};

  option domain-name "{{ rpi_cust_tld }}";

  pool {
    failover peer "rpiclust-failover";

    # 60 minute lease time
    max-lease-time 3600;

    # dhcp range
    range {{ rpi_dhcp_range_start }} {{ rpi_dhcp_range_stop }};
  }
}

# Static IP leases #############################################################

# reserve default GW IP
host router {
 hardware ethernet {{ rpi_net_default_gw_mac }};
 fixed-address {{ rpi_net_default_gw }};
}

###### R-Pi ######

# lanservices group
{% for host in groups['lanservices'] %}
host {{ hostvars[host]['inventory_hostname'] }} {
  hardware ethernet {{ hostvars[host]['rpi_mac'] }};
  fixed-address {{ hostvars[host]['rpi_ip'] }};
}
{% endfor %}
# Compute group
{% for host in groups['compute'] %}
host {{ hostvars[host]['inventory_hostname'] }} {
  hardware ethernet {{ hostvars[host]['rpi_mac'] }};
  fixed-address {{ hostvars[host]['rpi_ip'] }};
}
{% endfor %}

# EOF ##########################################################################
