[Unit]
Description=bbhttpd
Requires=network-online.target
After=network-online.target

[Service]
Environment=GOMAXPROCS=1
Restart=on-failure
ExecStart=/usr/sbin/chroot --userspec=bbweb:bbweb /opt/chroot_bb /bin/busybox httpd -p 1080 -h /www/ -v -f


KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

