# {{ ansible_managed }}
# ansible role: {{role_path|basename}}
#
/var/log/rpicluster.log {
    maxsize 1M
    missingok
    compress
    notifempty
    rotate 8
    create 0664 {{ ansible_user_id }} adm
}
