#!/bin/bash
# created by role: {{role_path|basename}}

export PATH=$PATH:/usr/local/go/bin

mkdir -pv $HOME/go/src/hello
cd $HOME/go/src/hello || exit 1;

cat > $HOME/go/src/hello/hello.go << EOF
// modified {{ ansible_date_time.time}} {{ ansible_date_time.date }}
package main

import "fmt"

func main() {
    fmt.Printf("Hello, from Golang on {{ inventory_hostname }}.\n")
}
EOF

go build

./hello >> /var/log/rpicluster.log
