# {{ ansible_managed }}
#
# static arp entries for Deployer R-Pi
# default gw
{{ rpi_net_default_gw }} {{ rpi_net_default_gw_mac }}
# Wifi AP
{{ rpi_net_wifi_gw }} {{ rpi_net_wifi_gw_mac }}
#
{% for host in groups['all'] %}
{% if host != inventory_hostname %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} {{ hostvars[host]['ansible_default_ipv4']['macaddress'] }}
{% endif %}
{% endfor %}
