<html>
<head>
  <title>R-Pi ServerSpec report</title>
</head>
<body>
<h2>ServerSpec test reports</h2>
<p>Generated: <%= timenow %> </p>
<div>
  <p><ul>
    <li> <b>alpha:</b>
      <ul>
        <li><a href="alpha.local.html">html</a></li>
        <li><a href="alpha.local.json">json</a></li>
      </ul>
    </li>
    <li> <b>beta:</b>
      <ul>
        <li><a href="beta.local.html">html</a></li>
        <li><a href="beta.local.json">json</a></li>
      </ul>
    </li>
  </ul></p>
</div>
</body>
</html>
