<html>
<head>
  <title>R-Pi ServerSpec report</title>
</head>
<body>
<h2>ServerSpec test reports</h2>
<p>Generated: <%= timenow %> </p>
<div>
  <p><ul>
    <li> <b>alpha:</b>
      <ul>
        <li><a href="192.168.6.66.html">html</a></li>
        <li><a href="192.168.6.66.json">json</a></li>
      </ul>
    </li>
    <li> <b>beta:</b>
      <ul>
        <li><a href="192.168.6.68.html">html</a></li>
        <li><a href="192.168.6.68.json">json</a></li>
      </ul>
    </li>
    <li> <b>omgea:</b>
      <ul>
        <li><a href="192.168.6.16.html">html</a></li>
        <li><a href="192.168.6.16.json">json</a></li>
      </ul>
    </li>
  </ul></p>
</div>
</body>
</html>
