# {{ ansible_managed }}
[Unit]
Description=consul
Requires=network-online.target
After=network-online.target

[Service]
User=consul
StartLimitInterval=120
Nice=-10
StartLimitBurst=3
Environment=GOMAXPROCS=1
Environment=PATH=/bin:/usr/bin:/usr/local/bin:/usr/local/sbin
Restart=on-failure
ExecStart=/usr/local/sbin/consul {{ rpi_conul_start_opt }} -data-dir=/opt/consul/data -serf-wan-bind={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} -bind={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} -config-dir=/opt/consul/consul.d/


KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
