#
# ------  R-Pi Cluster Deployer node ansible.cfg  ------
#
[defaults]
forks = 8
poll_interval  = 20

# hardware related facts are collected with a maximum timeout of X seconds:
gather_timeout = 12

ansible_managed = ------ R-Pi Cluster Ansible managed file ------
# module_lang = en_US.UTF-8
nocows = 0

roles_path = ~/rpi_cluster/ansible/roles/
inventory = /etc/ansible/inventory/
retry_files_save_path = ~/tmp/
log_path = /var/log/ansible/ansible.log

# script to get vault password
vault_password_file = ~/rpi_cluster/ansible/vault_pass.sh

# ARA setup
# callback_plugins configuration is required for the ARA callback
callback_plugins = ~/env/local/lib/python2.7/site-packages/ara/plugins/callbacks
# action_plugins and library configuration is required for the ara_record and ara_read modules
action_plugins = ~/env/local/lib/python2.7/site-packages/ara/plugins/actions
library = ~/env/local/lib/python2.7/site-packages/ara/plugins/modules

# Redis DB on localhost for fact cache
gathering = smart
fact_caching = redis
fact_caching_connection = localhost:6379:0
fact_caching_timeout = 86400

[ssh_connection]
control_path = ~/.ssh/ansible-%%r@%%h:%%p
#timeout = 12
pipelining = True
