#!/bin/bash
# {{ ansible_managed }}

logger -t rpicluster "lansrv-cron-daily.sh started"

# pre-run checks ---------------------------------------------------------------

# only run as root
id | grep "uid=0(root)" || exit 1;

# no LD_PRELOAD
unset LD_PRELOAD

#-------------------------------------------------------------------------------

# sleep
sleep 5m;

# check disk
/usr/lib/nagios/plugins/check_disk -x /dev/sda1;

logger -t rpicluster "lansrv-cron-daily.sh finished"

#-------------------------------------------------------------------------------
