
========================================
.......:: Raspberry Pi Cluster ::.......
----------------------------------------
Name:   {{ inventory_hostname }}
{% if 'compute' in group_names %}
Type:   compute/worker node
{% endif %}
{% if 'lanservices' in group_names %}
Type:   LanServices - Main
{% endif %}
{% if 'misc' in group_names %}
Type:   LanServices - Misc
{% endif %}
{% if 'deploy' in group_names %}
Type:   Deployer (Admin!)
{% endif %}
========================================
