# {{ ansible_managed }}
# sshd server config
# setup by role: {{role_path|basename}}

Port 22
Port {{ ssh_group_port }}
ListenAddress 0.0.0.0
Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key


# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin No
StrictModes yes

# User SSH keys
PubkeyAuthentication yes

{% if not 'deploy' in group_names %}
# Only accept SSH keys signed by our CA keys on Deployer nodes
TrustedUserCAKeys /etc/ssh/ca.pub

# accept only certain principals
# AuthorizedPrincipalsFile /etc/ssh/auth_principals.d/%u

# do not accept other key files
# AuthorizedKeysFile /dev/null

# allow anyone to connect to forwarded ports
GatewayPorts clientspecified
{% endif %}

{% if 'deploy' in group_names %}
# deployer can manage own keys
AuthorizedKeysFile /home/pi/.ssh/authorized_keys

GatewayPorts no
{% endif %}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

PasswordAuthentication no

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog no
TCPKeepAlive yes
#UseLogin no

ClientAliveInterval 120
ClientAliveCountMax 720

#MaxStartups 10:30:60
#Banner /etc/issue.net

Subsystem sftp /usr/lib/openssh/sftp-server

# PAM auth
UsePAM yes

# Only allow users in these groups SSH access
AllowGroups sshusers {{ ansible_user_id }}
