;
; {{ ansible_managed }}
;
[www]
user = www-data
group = www-data
listen = /run/php/php7.0-fpm.sock
listen.owner = www-data
listen.group = www-data
pm = ondemand
pm.max_children = 5
pm.process_idle_timeout = 20s
pm.start_servers = 2
pm.max_requests = 200
chdir = /
catch_workers_output = yes
