{
    "server": false,
    "datacenter": "syd1",
    "node_name": "{{ inventory_hostname }}",
    "log_level": "WARN",
    "enable_syslog": true,
    "advertise_addr": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
    "bind_addr": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
    "performance": { "raft_multiplier": 10 },
    "data_dir": "/opt/consul/data/",
    "client_addr": "0.0.0.0"
  }
