#!/bin/bash
# Store info about this Raspberry-Pi under:
# rpi_hw/ <mac> /

# Rasperry Pi Foundation OUI is b8:27:eb
# http://hwaddress.com/?q=B827EB000000

# My MAC
my_mac=$(cat /sys/class/net/eth0/address | cut -d ":" -f 4-6)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/

# My MAC
rpi_hostname=$(hostname)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/hostname ${rpi_hostname}

# CPU serial
cpu_serial=$(cat /proc/cpuinfo | grep Serial | cut -d ' ' -f 2)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/cpu_serial ${cpu_serial}

# R-Pi model
rpi_rev=$(cat /proc/cpuinfo | grep 'Revision' | awk '{print $3}' | sed 's/^1000//')
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/revision ${rpi_rev}

# Memory total
rpi_memtot=$(cat /proc/meminfo | head -n1 | awk '{print $2}')
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/memory ${rpi_memtot}

# SD card info
sdcard_serial=$(cat /sys/block/mmcblk0/device/serial)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/sdcard/serial ${sdcard_serial}

sdcard_cid=$(cat /sys/block/mmcblk0/device/cid)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/sdcard/cid ${sdcard_cid}

sdcard_name=$(cat /sys/block/mmcblk0/device/name)
/usr/local/sbin/consul kv put rpi_hw/${my_mac}/sdcard/name ${sdcard_name}
