[Unit]
Description=rpi-lanservices.service
Requires=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/root/bin/lanservices-boot.sh

[Install]
WantedBy=multi-user.target
