# {{ ansible_managed }}
# static arp entries for LanServices
#
# default gw
{{ rpi_net_default_gw }} {{ rpi_net_default_gw_mac }}
#
# Wifi AP
{{ rpi_net_wifi_gw }} {{ rpi_net_wifi_gw_mac }}
#
# Other admin node
{{ rpi_failover_ip }} {{ rpi_failover_hwaddr }}
