# {{ ansible_managed }}
# modified: {{ ansible_date_time.time}} {{ ansible_date_time.date }}
#
# static arp entries for LanServices
#
# default gw
{{ rpi_net_default_gw }} {{ rpi_net_default_gw_mac }}
#
# Other admin node
{{ rpi_failover_ip }} {{ rpi_failover_hwaddr }}
