#!/bin/bash
# {{ ansible_managed }}
# modified: {{ ansible_date_time.time}} {{ ansible_date_time.date }}

/usr/bin/logger -t rpicluster "lansrv-cron-hourly.sh started"

# pre-run checks ---------------------------------------------------------------

# no LD_PRELOAD
unset LD_PRELOAD

#-------------------------------------------------------------------------------

/bin/date > /mnt/ramstore/data/hour_check.txt

#-------------------------------------------------------------------------------

# check process count
/usr/lib/nagios/plugins/check_procs -w 200 -c 300;

# check user count
/usr/lib/nagios/plugins/check_users -w 5 -c 10;

/usr/bin/logger -t rpicluster "lansrv-cron-hourly.sh finished"

#-------------------------------------------------------------------------------
