#!/bin/bash
# {{ ansible_managed }}

# pre-run checks ---------------------------------------------------------------

# no LD_PRELOAD
unset LD_PRELOAD

#-------------------------------------------------------------------------------

/bin/date > /mnt/ramstore/data/hour_check.txt


# LED Blink
#
echo timer > /sys/class/leds/led0/trigger
echo timer > /sys/class/leds/led1/trigger
#
# wait
sleep 20s
#
# turn off red power LED
echo 1 > /sys/class/leds/led1/brightness
echo 0 > /sys/class/leds/led1/brightness
# put back to default
echo mmc0 > /sys/class/leds/led0/trigger


#-------------------------------------------------------------------------------

# check process count
/usr/lib/nagios/plugins/check_procs -w 200 -c 300;

# check user count
/usr/lib/nagios/plugins/check_users -w 5 -c 10;

/usr/bin/logger -t rpicluster "lansrv-cron-hourly.sh ran"

#-------------------------------------------------------------------------------
