#!/bin/bash
# {{ ansible_managed }}


# pre-run checks ---------------------------------------------------------------

# no LD_PRELOAD
unset LD_PRELOAD

#-------------------------------------------------------------------------------

# check disk
/usr/lib/nagios/plugins/check_disk -x /dev/sda1;

touch -f /mnt/ramstore/data/cron-daily.txt;
/bin/date > /mnt/ramstore/data/cron-daily.txt;

#-------------------------------------------------------------------------------

/usr/bin/logger -t rpicluster "lansrv-cron-daily.sh ran"

#-------------------------------------------------------------------------------
