#!/bin/bash
# {{ ansible_managed }}

/usr/bin/logger -t rpicluster "lansrv-cron-daily.sh started"

# pre-run checks ---------------------------------------------------------------

# no LD_PRELOAD
unset LD_PRELOAD

#-------------------------------------------------------------------------------

# check disk
/usr/lib/nagios/plugins/check_disk -x /dev/sda1;

# 

#-------------------------------------------------------------------------------

/usr/bin/logger -t rpicluster "lansrv-cron-daily.sh finished"

#-------------------------------------------------------------------------------
