#!/bin/bash
# {{ ansible_managed }}
# UFW setup script for LanServices group

apt-get install ufw -y

ufw status verbose

echo 1 > /proc/sys/net/ipv4/tcp_syncookies
echo 1 > /proc/sys/net/ipv4/icmp_echo_ignore_broadcasts

# reset ufw
ufw --force reset

# defaults
ufw default deny incoming || exit 1;
ufw default allow outgoing

# allow all incoming from other LanServices node
ufw allow from {{ rpi_failover_ip }}/32

# LAN services
ufw allow proto tcp from {{ rpi_net_id }}/{{ rpi_net_maskbit }} to any port 53,67,68,69,123
ufw allow proto udp from {{ rpi_net_id }}/{{ rpi_net_maskbit }} to any port 53,67,68,69,123

# ssh from inside lan only
ufw allow proto tcp from {{ rpi_net_id }}/{{ rpi_net_maskbit }} to any port 22
ufw allow proto tcp from {{ rpi_net_id }}/{{ rpi_net_maskbit }} to any port {{ ssh_group_port }}

# bbweb from lan
ufw allow proto tcp from {{ rpi_net_id }}/{{ rpi_net_maskbit }} to any port 1080

# deny this outbound traffic
ufw deny out 25

# log
ufw logging on

# enable FW
ufw --force enable || exit 1;
sleep 1s;
ufw status

touch -fv /root/.ufw

logger -t rpicluster "ufw enabled";

# eof
